<h1>修改个人信息</h1>

<%= form_for @user, :url =>{:action => "update", :id =>@user} do |f| %>
  <p>
  <strong>用户名: </strong><%= f.text_field 'name' %><br/>
  <strong>邮箱: </strong><%= @user.email %><br/>
  <strong>密码: </strong><%= f.text_field 'password_digest' %><br/>
  <strong>性别: </strong><%= f.text_field 'sex' %><br/>
  <strong>手机号码: </strong><%= f.text_field 'phonenumber' %><br/>
  <%= f.submit "保存更改" %>
  </p>
<% end %>
