<ul class="nav">
  <li class="nav-item" style="float:left;">
    <a class="nav-link" href="/users/search">添加好友<i class="fas fa-user-plus"></i></a>
  </li>
  <li class="nav-item" style="float:left;">
    <a class="nav-link" href="/friendships/requests">未通过<span class="glyphicon glyphicon-ban-circle"></span></a>
  </li>
  <li class="nav-item" style="float:left;">
    <a class="nav-link" href="/friendships/grants">待处理<span class="glyphicon glyphicon-list"></span></a>
  </li>
  <li class="nav-item" style="float:left;">
    <a class="nav-link" href="/friendships/finished">已处理<span class="glyphicon glyphicon-check"></span></a>
  </li>
  <li class="nav-item" style="float:left;">
    <a class="nav-link" href="/chats/bot">机器人聊天<i class="fas fa-robot"></i></a>
  </li>
</ul>

<div class="row">
  <div class="col-sm-4" id="friends_list" style ="max-height:800px; overflow:auto;">
    <ul class="list-group">
      <% @friends.each do |user| %>
      <li class="list-group-item">
        <%= user.name %>

        <%= form_for Chat.new, url: chats_path, method: :post, html: {style: "display: inline;"} do |f| %>
        <%= hidden_field_tag :users, [user.id] %>
        <%= button_tag "发起聊天", class:"btn btn-primary" %>
        <% end %>

        <%= link_to "用户详情", "/user/#{user.id}/public", class:"btn btn-info" %>

        <%= link_to "删除好友", friendship_path(user), method: :delete, class:"btn btn-danger" %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-5">
    <div style ="max-height:800px; overflow:auto;">
      <ul class="list-group">
        <%= sync partial: 'message_row', collection: Message.by_chat(@chat), refetch: true %>
        <%= sync_new partial: 'message_row', resource: Message.new, scope: @chat, refetch: true %>
      </ul>
    </div>
    <div>
      <%= form_for @new_message, remote: true do |f| %>
      <%= f.text_field :body, class: "form-control", style: "width:400px; display: inline;", placeholder: "Type your message here..." %>
      <%= f.submit "发送", class: "btn btn-success" %>
      <%= hidden_field_tag :chat_room, @chat.id %>
      <% end %>
    </div>
  </div>
</div>
