<a href="/users/search">添加好友</a>
<a href="/friendships/requests">未通过</a>
<a href="/friendships/grants">待处理</a>
<a href="/friendships/finished">已处理</a>

<div>
  <div id="friends_list" style ="width: 400px; float: left; height: 800px; overflow: auto;" >
    <ol>
      <% @friends.each do |user| %>
      <li>
        <%= user.name %>

        <%= form_for Chat.new, url: chats_path, method: :post do |f| %>
          <%= hidden_field_tag :users, [user.id] %>
          <%= button_tag "发起聊天" %>
        <% end %>

        <%= link_to "用户详情", "/user/#{user.id}/public" %>

        <%= link_to "删除好友", friendship_path(user), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>
  <div>
    <ul>
      <%= sync partial: 'message_row', collection: Message.by_chat(@chat), refetch: true %>
      <%= sync_new partial: 'message_row', resource: Message.new, scope: @chat, refetch: true %>
    </ul>
  </div>
  <div>
    <%= form_for @new_message, remote: true do |f| %>
      <%= f.text_field :body, placeholder: "Type your message here..." %>
      <%= f.submit "发送" %>
      <%= hidden_field_tag :chat_room, @chat.id %>
    <% end %>
  </div>
</div>
