<h1>未处理的好友申请</h1>
<ol>
  <% @my_grants.each do |request| %>
    <li>
      <%= request.id %>
      <% applicant = User.find_by(id: request.user_id) %>
      <%= applicant.name %>

      <%= form_tag "/friendships/grant", method: "post" do %>
        <input name="id" type="hidden" value="<%= request.id %>" />
        <input name="decision" type="hidden" value="grant" />
        <button name="button" type="submit">同意</button>
      <% end -%>

      <%= form_tag "/friendships/grant", method: "post" do %>
        <input name="id" type="hidden" value="<%= request.id %>" />
        <input name="decision" type="hidden" value="decline" />
        <button name="button" type="submit">拒绝</button>
      <% end -%>
    </li>
  <% end %>
</ol>
